@model IEnumerable<fbs.Models.Airport>


<h2>Search Flights</h2>
<div class="transparent-black-background">
    <div class="d-flex justify-content-center align-items-center" style="height: 150px; margin-top:60px;">
        <form asp-action="SearchResults" method="post" style="width: 100%;">
            <div class="row">
                <!-- From field -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label><h5>From</h5></label>
                        <select id="fromDropdown" name="from" class="form-control" required style="margin-bottom: 10px;">
                            <option value="">Select...</option>
                            @foreach (var airport in Model)
                            {
                                <option value="@airport.IATA_code">@airport.city_name (@airport.IATA_code)</option>
                            }
                        </select>
                    </div>
                </div>

                <!-- To field -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label><h5>To</h5></label>
                        <select id="toDropdown" name="to" class="form-control" required style="margin-bottom: 10px;">
                            <option value="">Select...</option>
                            @foreach (var airport in Model)
                            {
                                <option value="@airport.IATA_code">@airport.city_name (@airport.IATA_code)</option>
                            }
                        </select>
                    </div>
                </div>

                <!-- Date field -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label><h5>Date</h5></label>
                        <input type="date" name="date" class="form-control" required style="margin-bottom: 10px;" />
                    </div>
                </div>
            </div>

            <!-- Submit Button -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#fromDropdown, #toDropdown').select2({
            placeholder: "Select an airport...",
            allowClear: true
        });
    });
</script>
